body,html {
    height:100%!important;margin:0;padding:0;background:#e7ecf7!important;font-family:'Lato',sans-serif}.row .col{padding:0!important
}

header {
    position:relative;width:100%;padding:30px 0!important;background:white!important;box-shadow:0 0 5px #bec6cf;font-family:'Lato',sans-serif
}

header .nav {
    display:flex;align-items:center;justify-content:space-between;width:1000px;max-width:90%;margin:auto
}

#choosetext {
    text-align:center;
}

#c {
    text-align:center;
}

.container {
    display: flex;
    justify-content: center;
    flex-direction: row;
    background: white;
    padding: 2px 16px;
    box-shadow: 0 0 5px rgba(65,67,144,0.15);
    /* max-width:70%;margin:auto */
}

.container#togglechoose {
    display: flex;
    justify-content: center;
    flex-direction: row;
    background: white;
    padding: 2px 16px;
    box-shadow: 0 0 5px rgba(65,67,144,0.15);
    max-width:65%;margin:auto
}

.container#file-upload {
    display: flex;
    justify-content: center;
    flex-direction: row;
    background: white;
    padding: 2px 16px;
    box-shadow: 0 0 5px rgba(65,67,144,0.15);
    margin:auto;
    padding-bottom: 25px;
    max-width:65%;

}

